src/__pycache__/
src/cafaeval/__pycache__/
tests/__pycache__/
tests/diff/__pycache__/
bench/__pycache__/
bench/corpora/
.pytest_cache/
eval/
process_df.ipynb
ia.ipynb
harmonic_mean.ipynb
.idea
/src/cafaeval.egg-info/
/.venv/
/dist/
src/.ipynb_checkpoints
